.profile {
  /*width: 320px;*/
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
  border: 1px solid #000;
}

.description {
  padding: 30px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #eee;
  margin-bottom: 15px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 5px;
}

.tag,
.location {
  font-size: 16px;
  color: gray;
  margin-bottom: 5px;
}

.stats {
  display: flex;
  background-color: #f0f0f0;
  border-top: 1px solid #000;
}

.stat {
  flex: 1;
  padding: 15px;
  text-align: center;
  border-right: 1px solid #000;
}

.stat:last-child {
  border-right: none;
}

.label {
  font-size: 14px;
  color: #000;
  display: block;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}
