.box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 20px auto;
}

.friendList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
